/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 768px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}